#nyj-page{
    background-color: burlywood;
    padding-left: 200px;
    padding-left: 170px;
    padding-right: 100px;
    /* margin-left: 20%; */
    height: 1105px;
}
.born-a-crime{
    height: 500px;
    width: 550px;
    padding-top: 20px;
    margin-left: 30%;
}
.chapter1{
    padding-top: 2px;
    padding-bottom: 2px;
}
.book{
    font-size: 36px;
    margin-left: 30%;
    padding-top: 20px;
}
.title{
    font-size: 180px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    font-size: 19px;
    padding-top: 50px;

}
.summary{
    font-size: 22px;
}
a{
    text-decoration: none;
    color:black;
}

@media screen and (min-width: 280px) and (max-width: 370px){
    #nyj-page{
        background-color: burlywood;
        width: 70%;
        padding-left: 200px;
        margin-left: 20%;
        padding-left: 10px;
        margin-left: 2%;
        height: 100%;
    }
    .born-a-crime{
        height: 125px;
        width: 125px;
        padding-top: 20px;
        margin-left: 3%;
    }
    .chapter1{
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .book{
        font-size: 20px;
        margin-left: 2%;
        padding-top: 20px;
    }
    .title{
        font-size: 180px;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 15px;
        padding-top: 10px;
    
    }
    .summary{
        font-size: 10px;
    }
    a{
        text-decoration: none;
        color:black;
    }

}

@media screen and (min-width: 371px) and (max-width: 667px){
    #nyj-page{
        background-color: burlywood;
        width: 70%;
        padding-left: 200px;
        margin-left: 20%;
        padding-left: 10px;
        margin-left: 10%;
        height: 100%;
    }
    .born-a-crime{
        height: 155px;
        width: 155px;
        padding-top: 20px;
        margin-left: 3%;
    }
    .chapter1{
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .book{
        font-size: 20px;
        margin-left: 2%;
        padding-top: 10px;
    }
    .title{
        font-size: 180px;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 15px;
        padding-top: 10px;
    
    }
    .summary{
        font-size: 10px;
    }
    a{
        text-decoration: none;
        color:black;
    }
}

@media screen and (min-width: 668px) and (max-width: 1000px){
    #nyj-page{
        background-color: burlywood;
        width: 98%;
        padding-left: 200px;
        margin-left: 5%;
        padding-left: 10px;
        margin-left: 1%;
        height: 1000px;
    }
    .born-a-crime{
        height: 255px;
        width: 255px;
        padding-top: 20px;
        margin-left: 3%;
    }
    .chapter1{
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .book{
        font-size: 30px;
        margin-left: 2%;
        padding-top: 15px;
    }
    .title{
        font-size: 180px;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 15px;
        padding-top: 30px;
    
    }
    .summary{
        font-size: 10px;
    }
    a{
        text-decoration: none;
        color:black;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1200px){
    #nyj-page{
        background-color: burlywood;
        width: 985px;
        padding-left: 5%;
        margin-left: -2%;
        height: 750px;
    }
    .chapter1{
        padding-top: 1px;
        padding-bottom: 2px;
    }
    .title{
        font-size: 20px;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 19px;
        padding-top: 10px;
    
    }
    .summary{
        font-size: 18px;
    }
    a{
        text-decoration: none;
        color:black;
    }

}