#container{
    background-color: burlywood;
    border-radius: 30px;
    padding-left: 250px;
    align-items: center;
    width: 35%;
    margin-left: 30%;
    margin-right: 30%;
    height: 950px;
}

.logo{
    width: 100px;
    height: 100px;
    padding-bottom: 80px;
    padding-left: 100px;
}
a{
    text-decoration: none;
    color:black;
}
#text{
    color: white;
    text-decoration: none;
}

.fb{
    width: 50px;
    height: 50px;
}
a{
    text-decoration: none;
}

.ig{
    width: 50px;
    height: 50px;
}

.twitter{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.logos{
    display: flex;
    gap: 100px;
    
}
.field1{
    border-radius: 10px;
    height: 25px;
    margin-bottom: 2%;
    width: 60%;
    height: 35px;
    
    
}
.field2{
    border-radius: 10px;
    height: 25px;
    margin-bottom: 2%;
    width: 60%;
    height: 35px;
}
.field3{
    border-radius: 10px;
    height: 25px;
    margin-bottom: 2%;
    width: 60%;
    height: 35px;
}
.field4{
    border-radius: 10px;
    height: 25px;
    margin-bottom: 2%;
    width: 60%;
    height: 35px;
}
.field5{
    border-radius: 10px;
    height: 25px;
    margin-bottom: 2%;
    width: 60%;
    height: 35px;
}
.field6{
    border-radius: 10px;
    height: 25px;
    margin-bottom: 2%;
    width: 60%;
    height: 35px;
}
.field7{
    border-radius: 10px;
    height: 25px;
    margin-bottom: 2%;
    width: 60%;
    height: 35px;
}
.sign-up{
    margin-left: 15%;
    width: 20%;
    border-radius: 15px;
    height: 40px;
    background-color: black;
    color: white;
    
}

.account-already{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 100px;
}
.input-fields{
    padding-left: 20px;
    
}
.home{
    background-color: black;
    color: white;
    border-radius: 15px;
    width: 10%;
    height: 40px;
    text-align: center;
    margin-top: 2%;
    margin-left: 80%;
}

@media screen and (min-width: 280px) and (max-width: 400px){

    #container{
        background-color: burlywood;
        border-radius: 30px;
        padding-left: 2px;
        align-items: center;
        width: 355px;
        height: 650px;
        margin-left: -1%;
        margin-right: 13%;
        padding-top: 10px;
        /* height: 50px; */
    }
    
    .logo{
        width: 100px;
        height: 100px;
        padding-bottom: 10px;
        padding-left: 110px;
        padding-top: 2px;
    }
    #text{
        color: white;
        text-decoration: none;
    }
    
    .fb{
        width: 50px;
        height: 50px;
    }
    
    .ig{
        width: 50px;
        height: 50px;
    }
    
    .twitter{
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }
    
    .logos{
        display: flex;
        gap: 60px;
        
    }
    .field1{
        border-radius: 10px;
        margin-bottom: -3%;
        width: 60%;
        height: 20px;
        margin-top: 2%;
        
    }
    .field2{
        border-radius: 10px;
        margin-bottom: -3%;
        width: 60%;
        height: 15px;
    }
    .field3{
        border-radius: 10px;
        margin-bottom: -3%;
        width: 60%;
        height: 15px;
    }
    .field4{
        border-radius: 10px;
        margin-bottom: -3%;
        width: 60%;
        height: 15px;
    }
    .field5{
        border-radius: 10px;
        margin-bottom: -3%;
        width: 60%;
        height: 15px;
    }
    .field6{
        border-radius: 10px;
        margin-bottom: -3%;
        width: 60%;
        height: 15px;
    }
    .field7{
        border-radius: 10px;
        margin-bottom: -3%;
        width: 60%;
        height: 15px;
    }
    .sign-up{
        margin-left: 15%;
        width: 22%;
        border-radius: 15px;
        height: 30px;
        background-color: black;
        color: white;
        margin-top: 5%;
    }
    
    .account-already{
        margin-top: 5%;
        padding-bottom: 1px;
        padding-left: 100px;
    }
    .input-fields{
        padding-left: 20px;
        
    }
    .home{
        background-color: black;
        color: white;
        border-radius: 15px;
        width: 19%;
        height: 30px;
        text-align: center;
        margin-left: 10%;
    }
}

@media screen and (min-width:401px) and (max-width: 800px){
    #container{
        background-color: burlywood;
        border-radius: 30px;
        padding-left: 2px;
        align-items: center;
        width: 349px;
        height: 857px;
        margin-left: 5%;
        margin-right: 13%;
        
        /* height: 50px; */
    }
    
    .logo{
        width: 100px;
        height: 100px;
        padding-bottom: 10px;
        padding-left: 110px;
        padding-top: 25px;
    }
    #text{
        color: white;
        text-decoration: none;
    }
    
    .fb{
        width: 50px;
        height: 50px;
    }
    
    .ig{
        width: 50px;
        height: 50px;
    }
    
    .twitter{
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }
    
    .logos{
        display: flex;
        gap: 100px;
        
    }
    .field1{
        border-radius: 10px;
        height: 25px;
        margin-bottom: 2%;
        width: 60%;
        height: 35px;
        
        
    }
    .field2{
        border-radius: 10px;
        height: 25px;
        margin-bottom: 2%;
        width: 60%;
        height: 35px;
    }
    .field3{
        border-radius: 10px;
        height: 25px;
        margin-bottom: 2%;
        width: 60%;
        height: 35px;
    }
    .field4{
        border-radius: 10px;
        height: 25px;
        margin-bottom: 2%;
        width: 60%;
        height: 35px;
    }
    .field5{
        border-radius: 10px;
        height: 25px;
        margin-bottom: 2%;
        width: 60%;
        height: 35px;
    }
    .field6{
        border-radius: 10px;
        height: 25px;
        margin-bottom: 2%;
        width: 60%;
        height: 35px;
    }
    .field7{
        border-radius: 10px;
        height: 25px;
        margin-bottom: 2%;
        width: 60%;
        height: 35px;
    }
    .sign-up{
        margin-left: 15%;
        width: 20%;
        border-radius: 15px;
        height: 40px;
        background-color: black;
        color: white;
        margin-top: 2%;
    }
    
    .account-already{
        padding-top: 50px;
        padding-bottom: 20px;
        padding-left: 100px;
    }
    .input-fields{
        padding-left: 20px;
        
    }
    .home{
        background-color: black;
        color: white;
        border-radius: 15px;
        width: 18%;
        height: 40px;
        text-align: center;
        margin-top: 2%;
        margin-left: 10%;
    }
}

@media screen and (min-width:801px) and (max-width: 1200px){
    #container{
        background-color: burlywood;
        border-radius: 30px;
        padding-left: 2px;
        align-items: center;
        width: 770px;
        height: 857px;
        margin-left: 5%;
        margin-right: 13%;
        
        /* height: 50px; */
    }
    
    .logo{
        width: 100px;
        height: 100px;
        padding-bottom: 10px;
        padding-left: 110px;
        padding-top: 25px;
    }
    #text{
        color: white;
        text-decoration: none;
    }
    
    .fb{
        width: 50px;
        height: 50px;
    }
    
    .ig{
        width: 50px;
        height: 50px;
    }
    
    .twitter{
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }
    
    .logos{
        display: flex;
        gap: 100px;
        
    }
    .field1{
        border-radius: 10px;
        height: 25px;
        margin-bottom: 2%;
        width: 60%;
        height: 35px;
        
        
    }
    .field2{
        border-radius: 10px;
        height: 25px;
        margin-bottom: 2%;
        width: 60%;
        height: 35px;
    }
    .field3{
        border-radius: 10px;
        height: 25px;
        margin-bottom: 2%;
        width: 60%;
        height: 35px;
    }
    .field4{
        border-radius: 10px;
        height: 25px;
        margin-bottom: 2%;
        width: 60%;
        height: 35px;
    }
    .field5{
        border-radius: 10px;
        height: 25px;
        margin-bottom: 2%;
        width: 60%;
        height: 35px;
    }
    .field6{
        border-radius: 10px;
        height: 25px;
        margin-bottom: 2%;
        width: 60%;
        height: 35px;
    }
    .field7{
        border-radius: 10px;
        height: 25px;
        margin-bottom: 2%;
        width: 60%;
        height: 35px;
    }
    .sign-up{
        margin-left: 15%;
        width: 20%;
        border-radius: 15px;
        height: 40px;
        background-color: black;
        color: white;
        margin-top: 2%;
    }
    
    .account-already{
        padding-top: 50px;
        padding-bottom: 20px;
        padding-left: 100px;
    }
    .input-fields{
        padding-left: 20px;
        
    }
    .home{
        background-color: black;
        color: white;
        border-radius: 15px;
        width: 18%;
        height: 40px;
        text-align: center;
        margin-top: 5%;
        margin-left: 10%;
    }
}